<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mallika_CustomOrderProcessing::order_log"
             title="Order Status Logs"
             module="Mallika_CustomOrderProcessing"
             sortOrder="80"
             parent="Magento_Sales::sales"
             action="orderprocessing/log/index"
             resource="Mallika_CustomOrderProcessing::order_log"/>
    </menu>
</config>
